.conteiner{
   background-color: #015019;
}
.conteiner>nav{
   width: 1920px;
   max-height: 1400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 22px 130px;
   gap: 20px;
   margin: 0 auto;
}
.conteiner>nav>h2{
   font-size: 48px;
   font-weight: 600;
   line-height: 57.6px;
   color: white;
}
.conteiner>nav>div{
   display: flex;
   gap: 26px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
@media (max-width: 1366px){
   .conteiner>nav{
      width: 1366px;
   }
   .conteiner>nav{
      padding: 22px 70px;
   }
}
@media (max-width: 1024px){
   .conteiner>nav{
      width: 1024px;
   }
   .conteiner>nav{
      padding: 22px 110px;
   }
}
@media (max-width: 768px){
   .conteiner>nav{
      width: 766px;
   }
   .conteiner>nav{
      padding: 22px 70px;
   }
}
@media (max-width: 480px){
   .conteiner>nav{
      width: 480px;
   }
   .conteiner>nav{
      padding: 22px 40px;
   }
}
@media (max-width: 320px){
   .conteiner>nav{
      width: 320px;
   }
   .conteiner>nav{
      padding: 22px 10px;
   }
}