.card>a{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 14px;
}
.card>a>p{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   color: white;
}
.card>a>img{
   width: 177px;
   height: 177px;
   border-radius: 15px;
}
@media (max-width: 320px){
   .card>a>img{
      width: 100px;
      height: 100px;
      border-radius: 15px;
   }
   .card>a>p{
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: white;
   }
}