.video{
   display: flex;
   flex-direction: column;
   gap: 18px;
}
.video>video{
   width: 800px;
   height: 377px;
   border-radius: 10px;
}
.video>p{
   font-size: 24px;
   font-weight: 600;
   line-height: 28.8px;
}
@media (max-width: 1366px){
   .video>video{
      width: 500px;
      height: 377px;
   }
}
@media (max-width: 1024px){
   .video>video{
      width: 420px;
   }
   .video>p{
      font-size: 20px;
      font-weight: 600;
      line-height: 23.8px;
   }
}
@media (max-width: 768px){
   .video>video{
      width: 700px;
   }
}
@media (max-width: 480px){
   .video>video{
      width: 430px;
   }
}