.header{
   width: 1920px;
   height: 691px;
   margin: 0 auto;
   padding: 36px 128px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
}
.header>div:first-child{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header>div:first-child>div:first-child>a>img{
   width: 251px;
   height: 101px;
}
.header>div:first-child>div:last-child{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
}
.header>div:first-child>div:last-child>img:first-child{
   width: 36.66px;
   height: 36.66px;
   cursor: pointer;
}
.header>div:first-child>div:last-child>img:last-child{
   width: 88px;
   height: 88px;
   cursor: pointer;
}
.header>div:last-child{
   display: flex;
   justify-content: space-between;
}
.header>div:last-child>div:first-child{
   display: flex;
   flex-direction: column;
}
.header>div:last-child>div:first-child>div:last-child{
   width: 1020px;
   height: 173px;
}
.header>div:last-child>div:first-child>div:last-child>h2{
   font-size: 48px;
   font-weight: 600;
   line-height: 57.6px;
   color: white;
}
.header>div:last-child>div:first-child>div:first-child{
   display: flex;
   gap: 25.7px;
}
.broshura{
   width: 325px;
   height: 152px;
   padding-left: 17px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 
   -1.33px 1.33px 1.33px 0px #FFFFFF66 inset,
   1.33px -1.33px 1.33px 0px #D6D6D666 inset;
   border-radius: 15px;
   background-color: #D6D6D666;
}
.broshura>div:first-child{
   display: flex;
   flex-direction: column;
   gap: 24px;
}
.broshura>div:first-child>p{
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;
   color: white;
}
.broshura>div:first-child>div>a{
   text-decoration: none;
   color: white;
}
.broshura>div:first-child>div{
   width: 170.38px;
   height: 31.92px;
   border-radius: 10px;
   border: 0.5px solid #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #015019;
}
.broshura>div:first-child>div>a>p{
   font-weight: 600;
   line-height: 24px;
   color: white;
}
@media (max-width: 1366px) {
   .header{
      width: 1366px;
      padding: 30px 88px 0;
   }
   .header>div:last-child>div:first-child>div:last-child{
      width: 600px;
      height: 173px;
   }
   .header>div:last-child>div:first-child>div:last-child>h2{
      font-size: 32px;
      font-weight: 500;
      line-height: 43.6px;
      color: white;
   }
}
@media (max-width: 1024px) {
   .header{
      width: 1024px;
      padding: 25px 60px 0;
   }
   .header>div:first-child>div:last-child{
      gap: 20px;
   }
   .header>div:first-child>div:last-child>img:first-child{
      width: 30px;
      height: 30px;
   }
   .header>div:first-child>div:last-child>img:last-child{
      width: 70px;
      height: 70px;
   }
   .header>div:last-child>div:first-child>div:last-child{
      width: 600px;
   }
   .header>div:last-child>div:first-child>div:last-child>h2{
      font-size: 30px;
      font-weight: 600;
      line-height: 51px;
      color: white;
   }
   .header>div:last-child>div:first-child>div:first-child{
      display: flex;
      gap: 25.7px;
   }
   .broshura>div:first-child{
      gap: 18px;
   }
}
@media (max-width: 768px) {
   .header{
      width: 768px;
      padding: 20px 30px 0;
   }
   .header>div:first-child>div:last-child{
      gap: 16px;
   }
   .header>div:last-child>div:first-child>div:last-child{
      width: 400px;
   }
   .header>div:last-child>div:first-child>div:last-child>h2{
      font-size: 24px;
      line-height: 45px;
   }
   .header>div:last-child>div:first-child>div:first-child{
      display: flex;
      gap: 17px;
   }
   .broshura{
      width: 320px;
      height: 152px;
      padding-left: 10px;
   }
   .broshura>div:first-child{
      gap: 12px;
   }
}
@media (max-width: 480px) {
   .header{
      width: 480px;
      height: 300px;
      padding: 10px 20px 0;
   }
   .header>div:last-child>div:first-child>div:last-child{
      width: 400px;
   }
   .header>div:last-child>div:first-child>div:last-child>h2{
      font-size: 24px;
      font-weight: 600;
   }
   .header>div:last-child>div:first-child>div:first-child{
      display: none;
   }
   .broshura{
      display: none;
   }
}
@media (max-width: 320px) {
   .header{
      width: 320px;
      height: 300px;
   }
   .header>div:first-child>div:first-child>a>img{
      width: 180px;
      height: 70px;
   }
   .header>div:last-child>div:first-child>div:last-child{
      width: 300px;
   }
   .header>div:last-child>div:first-child>div:last-child>h2{
      font-size: 20px;
   }
   .header>div:first-child>div:last-child>img:first-child{
      width: 20px;
      height: 20px;
   }
   .header>div:first-child>div:last-child>img:last-child{
      width: 50px;
      height: 50px;
   }
}

